# Binaries and Build Artifacts
/bin/
/build/
/out/
/pkg/
/vendor/

# Environment and Config Files
.env
*.env

# Logs
*.log

# OS Specific Files
.DS_Store
Thumbs.db

# IDE/Editor Files
*.idea/
*.vscode/
*.swp

# Go Modules and Dependencies
go.sum
go.mod

# Test Files
*.test

# Temporary Files
*.tmp
*.bak
*.swp

# Docker
docker-compose.override.yml
Dockerfile
.dockerignore

# Git-related
.gitignore
.git/
